mat-form-field {
    align-self: stretch;
    margin-bottom: auto;
    color: white;
  }

mat-label {
    color: white;
  }

.uxg-nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 16%;
   background-color: purple ;


 }