mat-option {
    height: 100px;
    width:1000px;
    line-height: 20px;
}

.mat-autocomplete {
  
    width:1000px;

}

mymat {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
  }