.uxg-overview-layout{
  padding: 30px;
}
.account-card {
  display: flex;
  flex-wrap: wrap;

  mat-card {
    width: 263px;
    height: 96px;
    margin: 8px;

    mat-card-content {
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .uxg-h5 {
      margin-top: 0;
    }

    .account-card-number-padding {
      padding: 4px 32px 8px 32px;
    }
  }

  .round-icon {
    background-color: rgba(105, 78, 214, 0.1);
    border-radius: 50%;
    margin-right: 16px;
    margin-left: 12px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media all and (max-width: 600px) {
    mat-card {
      width: 100%;
    }
  }
}